<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>지하철 검색</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    </head>
    <body>
        <div id="subway">
            역 이름 :
            <input v-model="search" placeholder="검색어" />
            <div>{{message}}</div>
            <ul>
                <li v-for="post in realtimeArrivalList">{{post.trainLineNm}}, {{post.arvlMsg2}}</li>
            </ul>
        </div>

        <script>
            const app = new Vue({
                el: "#subway",
                data: {
                    search: "",
                    message: "",
                    realtimeArrivalList: [], // 전체 데이터
                },
                created: function () {
                    // 통신
                    this.getRealtimeStationArrival();
                    // 디바운스 적용된 검색 함수 정의
                    this.debouncedSearch = _.debounce(this.getRealtimeStationArrival, 1000);
                },
                methods: {
                    getRealtimeStationArrival: function () {
                        const vm = this;
                        fetch(`http://swopenapi.seoul.go.kr/api/subway/sample/json/realtimeStationArrival/0/5/${vm.search}`)
                            .then((response) => response.json())
                            .then((json) => {
                                vm.realtimeArrivalList = json.realtimeArrivalList;
                                vm.message = ""; // 통신 종료시 로딩메시지 제거
                            });
                    },
                },
                watch: {
                    search: function (val) {
                        this.message = "로딩...."; // 통신 시작시 로딩메시지 보이기
                        this.debouncedSearch(val);
                    },
                },
            });
        </script>
    </body>
</html>
