/* 전체 배경 */
div {
    position: relative;
    background-image: url("../imgs/wave.gif");
    background-size: cover;
    width: 800px;
    height: 500px;
    border: 1px black solid;
}

/* gamestart */
h2 {
    text-align: center;
    color: navy;
}
#gamestart button {
    display: block;
    margin: 0px auto;
    background: none;
    border: none;
}
#gamestart img {
    width: 480px;
    height: 400px;
}

/* gameover */
#gameover img {
    display: block;
    margin: 0px auto;
}
/* gameover시 나타나는 재시작버튼 */
#resetbtn {
    display: block;
    margin: 20px auto;
    background: none;
    height: 50px;
    border: 3px whitesmoke solid;
    color: whitesmoke;
}

/* 점수 표시 */
#score {
    position: absolute;
    width: 200px;
    height: 100px;
    left: 9px;
    top: 9px;
    color: black;
    font-weight: bold;
    font-size: large;
    background: none;
    border: none;
}

/* game - user용 잠수함 */
#characters {
    position: absolute;
    width: 50px;
    height: 100px;
    left: 50px;
    bottom: 5px;
}
/* game - 장애물 상어 */
#obstacle {
    position: absolute;
    width: 150px;
    height: 100px;
    right: 5px;
    bottom: 5px;
}
/* gmae - 공격용 미사일 */
#attack {
    position: absolute;
    width: 50px;
    left: 110px;
    bottom: 10px;
}
