/* 전체 배경 */
div {
    position: relative;
    background-image: url("../imgs/wave.gif");
    background-size: cover;
    width: 800px;
    height: 500px;
    border: 1px black solid;
}

/* gamestart */
h2 {
    text-align: center;
    color: navy;
}
#gamestart button {
    display: block;
    margin: 0px auto;
    background: none;
    border: none;
}
#gamestart img {
    width: 480px;
    height: 400px;
}

/* gameover */
#gameover img {
    display: block;
    margin: 0px auto;
}
/* gameover시 나타나는 재시작버튼 */
#resetbtn {
    display: block;
    margin: 20px auto;
    background: none;
    height: 50px;
    border: 3px whitesmoke solid;
    color: whitesmoke;
}

/* pause창 */
#pause {
    display: block;
    position: absolute;
    width: 50px;
    right: 0;
    top: 10px;
}
#forPause {
    position: absolute;
    /* 처음에는 우선 숨겨놓기 */
    display: none;
    top: 200px;
    left: 250px;
    padding: 30px 20px 20px 20px;
    width: 300px;
    height: 100px;
    background-color: aliceblue;
    background-image: none;
    text-align: center;
}
#forPause button {
    display: inline-block;
    width: 100px;
    margin: 20px 10px 5px;
}

/* 점수 표시 */
#score {
    position: absolute;
    width: 200px;
    height: 100px;
    left: 9px;
    top: 9px;
    color: black;
    font-weight: bold;
    font-size: large;
    background: none;
    border: none;
}

/* game - user용 잠수함 */
#characters {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 50px;
    bottom: 10px;
}
/* game - 장애물 상어 */
#obstacle {
    position: absolute;
    width: 100px;
    height: 50px;
    right: 5px;
    bottom: 10px;
}
/* gmae - 공격용 미사일 */
#attack {
    position: absolute;
    /* 처음에는 우선 숨겨놓기 */
    display: none;
    width: 50px;
    left: 110px;
    bottom: 25px;
}
/* 폭파시 */
#bomb {
    position: absolute;
    /* 처음에는 우선 숨겨놓기 */
    display: none;
    width: 50px;
}
