/* class */
.article{
    font-size: large;
}

.highlight{
    background-color: yellow;
}
.link_line{
    color: blue;
    text-decoration: underline;
}

.language{
    font-family:'Times New Roman', Times, serif
}
.web{
    font-style: italic;
}
/* id */
#name_title{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
#article_from{
    text-align: right;
}